<template name="mainpoll">
    <div class="container">
        <div class="question">
            {{pollquestion}}
        </div>
        {{#constant}}
        <div class="ans-options">
        </div>
        {{/constant}}
        {{#if selected_name}}
        <div class="details">
            {{#if error}}
            <div class="alert alert-error">{{error}}</div>
            {{/if}}
            {{#unless isUserVoted}}
                <input type="button" class="btn btn-primary inc" value="Vote" />
            {{/unless}}
        </div>
        {{/if}}

        {{#unless selected_name}}
            <div class="none">Click an answer to select</div>
        {{/unless}}
    </div>

    <link rel="stylesheet" href="/css/voteapp.css">
</template>
